[Desktop Entry]
Name=Notepad++
Exec=env WINEPREFIX="/home/eswecha/.wine" wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/eswecha/.wine/dosdevices/c:/users/Public/Start\\ Menu/Programs/Notepad++/Notepad++.lnk
Type=Application
StartupNotify=true
Path=/home/eswecha/.wine/dosdevices/c:/Program Files/Notepad++
Icon=33E8_notepad++.0
